{template "content","header_category"}
<div class="container">
    <div class="position">
        <ul class="contact-links" style="margin-left:0px;">
            <li><a href="{siteurl($siteid)}">首页></a></li>
            <li>{catpos($catid)}{$title}</li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="column-block">
        <section class="article-left left">
            <article>
                {php $j=1;}
                {loop subcat($catid) $v}
                {php if($v['type']!=0) continue;}
                <div class="cate_channel box" {if $j%2==1}style="margin-right:30px"{/if}>
                    <h3><span><font class="cate_icon">第{toDaXie($j)}章</font><a href="{$v[url]}" class="red">{$v[catname]}</a></span></h3>
                    <ul class="lanmu">
                        {pc:content action="lists" catid="$v[catid]"  order="id DESC"}
                        {loop $data $v}
                            <li><a href="{$v[url]}" target="_blank"{title_style($v[style])}>{$v[title]}</a></li>
                        {/loop}
                        {/pc}
                    </ul>
                 </div>
                {$j++}
                {/loop}
            </article>
        </section>

        <aside class="article-right right">
            <section class="aside-right">
                <div class="box">
                    <h3 class="bg_grap"><span>频道总排行</span></h3>
                    <ul class="top-list">
                        {pc:content  action="hits" catid="$catid" num="10" order="views DESC" cache="3600"}
                        {loop $data $r}
                        <li><a href="{$r[url]}" target="_blank" title="{$r[title]}">{str_cut($r[title], 48, '')}</a></li>
                        {/loop}
                        {/pc}
                    </ul>
                </div>
                <div class="box">
                    <h3 class="bg_grap"><span>频道本月排行</span></h3>
                    <ul class="top-list">
                        {pc:content action="hits" catid="$catid" num="10" order="monthviews DESC" cache="3600"}
                        {loop $data $r}
                        <li><a href="{$r[url]}"{title_style($r[style])} class="title" title="{$r[title]}">{str_cut($r[title],56,'...')}</a></li>
                        {/loop}
                        {/pc}
                    </ul>
                </div>
            </section>

        </aside>
    </div>
</div>
{template "content","footer"}