{template "content","header_category"}

<div class="container">
    <div class="position">
        <ul class="contact-links" style="margin-left:0px;">
            <li><a href="{siteurl($siteid)}">首页></a></li>
            <li>{catpos($catid)}</li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="column-block">
        <section class="article-left">
            {pc:content action="lists" catid="$catid" num="25" order="id DESC" page="$page"}
            <ul class="list">
                {loop $data $r}
                <li>
                    <h2><a href="{$r[url]}" target="_blank"{title_style($r[style])}>{$r[title]}</a></h2>
                    <p>{$r[description]}<a href="{$r[url]}">&nbsp;&nbsp;&nbsp;&nbsp;[详情]</a></p>
                    <span>日期：{date('Y-m-d H:i:s',$r[inputtime])}</span>
                </li>
                {/loop}
            </ul>
            <nav class="pagination">
                <ul>
                    {$pages}
                </ul>
            </nav>
            {/pc}
        </section>

        <aside class="article-right">
            <section class="aside-right">
                <div class="box">
                    <h5 class="top-title">频道总排行</h5>
                    <ul class="top-list">
                        {pc:content  action="hits" catid="$catid" num="10" order="views DESC" cache="3600"}
                        {loop $data $r}
                        <li><a href="{$r[url]}" target="_blank" title="{$r[title]}">{str_cut($r[title], 48, '')}</a></li>
                        {/loop}
                        {/pc}
                    </ul>
                </div>
                <div class="box">
                    <h5 class="title-2">频道本月排行</h5>
                    <ul class="content rank">
                        {pc:content action="hits" catid="$catid" num="10" order="monthviews DESC" cache="3600"}
                        {loop $data $r}
                        <li><a href="{$r[url]}"{title_style($r[style])} class="title" title="{$r[title]}">{str_cut($r[title],56,'...')}</a></li>
                        {/loop}
                        {/pc}
                    </ul>
                </div>
            </section>

        </aside>
    </div>
</div>
{template "content","footer"}