{template "content","header_category"}

<div class="container">
    <div class="position">
        <ul class="contact-links" style="margin-left:0px;">
            <li><a href="{siteurl($siteid)}">首页></a></li>
            <li>{catpos($catid)}{$title}</li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="column-block">
        <section class="article-left right" style="border-left:1px solid #e3e3e3;border-right: 0px;">
            <article>
                <h2>{$title}</h2>
                <h5>
                    <span>日期qilin：{$inputtime}&nbsp;&nbsp;&nbsp;发布者：风继续吹&nbsp;&nbsp;&nbsp;来源：{$copyfrom}&nbsp;&nbsp;&nbsp;评论：<a href="#comment_iframe" id="comment">0</a> 点击：</span><span id="hits"></span>
                    <div class="bdsharebuttonbox" style="float:right;"><a href="#" class="bds_more" data-cmd="more"></a><a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a><a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a><a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq"></a><a title="分享到人人网" href="#" class="bds_renren" data-cmd="renren"></a><a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a></div>
                    <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
                </h5>
                <section class="content">
                    <ul>
                        {pc:content action="lists"  catid="$catid"  order="id ASC" cache="0"}
                        {loop $data $k $r}
                        <li>
                            <span class="span-child">{$n}</span>
                            <a href="{$r[url]}" target="_blank" {if $r[id]==$id}style="color:#d33428;"{/if}title="{$r[title]}">{str_cut($r[title], 48, '')}</a>
                        </li>
                        {/loop}
                        {/pc}
                    </ul>

                </section>

            </article>

            {if $titles}
            <fieldset>
                <legend class="f14">本文导航</legend><ul class="list blue row-2">
                {loop $titles $r}
                <li>{$n}、<a href="{$r[url]}">{$r[title]}</a></li>
                {/loop}
            </ul>
            </fieldset>
            {/if}

            <p style="margin-bottom:10px">
                    <span style="float: left;">
                        <strong>标签：</strong>
                        {loop $keywords $keyword}
                        <a href="{APP_PATH}index.php?m=content&c=tag&a=lists&tag={urlencode($keyword)}" class="blue">{$keyword}</a>
                        {/loop}
                    </span>
                <span class="bdsharebuttonbox" style="float:right;"><a href="#" class="bds_more" data-cmd="more"></a><a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a><a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a><a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq"></a><a title="分享到人人网" href="#" class="bds_renren" data-cmd="renren"></a><a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a></span>
                <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
            </p>
            <div class="clear"></div>
            <p class="f14">
                <strong>上一篇：</strong><a href="{$previous_page[url]}">{$previous_page[title]}</a><br />
                <strong>下一篇：</strong><a href="{$next_page[url]}">{$next_page[title]}</a>
            </p>
            {pc:content action="relation" relation="$relation" id="$id" catid="$catid" num="5" keywords="$rs[keywords]"}
            {if $data}
            <div class="related">
                <h5 class="blue">延伸阅读：</h5>
                <ul class="list blue lh24 f14">
                    {loop $data $r}
                    <li>·<a href="{$r[url]}" target="_blank">{$r[title]}</a><span>({date('Y-m-d',$r[inputtime])})</span></li>
                    {/loop}
                </ul>
            </div>
            {/if}
            {/pc}
            <!--高速版，加载速度快，使用前需测试页面的兼容性-->
            <div id="SOHUCS"></div>
            <script>
                (function(){
                    var appid = 'cyrhpueHO',
                            conf = 'prod_18d519f79841a7629faa656ab8262791';
                    var doc = document,
                            s = doc.createElement('script'),
                            h = doc.getElementsByTagName('head')[0] || doc.head || doc.documentElement;
                    s.type = 'text/javascript';
                    s.charset = 'utf-8';
                    s.src =  'http://assets.changyan.sohu.com/upload/changyan.js?conf='+ conf +'&appid=' + appid;
                    h.insertBefore(s,h.firstChild);
                    window.SCS_NO_IFRAME = true;
                })()
            </script>
        </section>

        <aside class="article-right left">
            <section class="aside-right">
                <div class="box">
                    <h3><span><?php echo $CATEGORYS[$CAT[parentid]][catname];?></span></h3>
                    {pc:content action="category" catid="$CAT[parentid]" num="25" siteid="$siteid" order="listorder ASC"}

                    <ul class="rumen-menu">
                        <?php
                        foreach(array_values($data) as $key=>$r){
                        ?>
                        <li {if $catid==$r[catid]}class="cur_cat"{/if}>
                        <span class="span-parent">第<?php echo $key+1;?>章</span>
                        <a href="{$r[url]}/">{$r[catname]}</a>
                        {if $catid==$r[catid]}
                        <ul>
                            {pc:content action="lists"  catid="$r[catid]"  order="id ASC" cache="0"}
                            {loop $data $k $r}
                            <li>
                                <span class="span-child">{$n}</span>
                                <a href="{$r[url]}" target="_blank" {if $r[id]==$id}style="color:#d33428;"{/if}title="{$r[title]}">{str_cut($r[title], 48, '')}</a>
                            </li>
                            {/loop}
                            {/pc}
                        </ul>
                        {/if}
                        </li>
                        <?php
                        }
                        ?>
                    </ul>
                    {/pc}

                </div>

            </section>

        </aside>
    </div>
</div>

{template "content","footer"}