html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, a, abbr, and, address, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, textarea, select { background: transparent; border: 0; font-size: 100%; margin: 0; outline: 0; padding: 0; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }

ol, ul { list-style: none }
table { border-collapse: collapse; border-spacing: 0; }
.clear { clear: both; display: block; height: 0; overflow: hidden; visibility: hidden; width: 0; }
.clearfix:after { clear: both; content: ' '; display: block; font-size: 0; height: 0; line-height: 0; visibility: hidden; width: 0; }
* html .clearfix, :first-child+html .clearfix { zoom: 1 }

body {
    color: #444;
    font: 14px "Microsoft Yahei",Arial,Helvetica,sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}
a, a > * {text-decoration: none;color:#555;}
a:hover{color:#3071a9;text-decoration: none;}
a#logo {float:left;}
h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
    font-variant: normal;
    white-space: normal;
    color: #404040;
    margin-bottom: 10px;
    font-family: 'Roboto', arial, helvetica, sans-serif;
}
.container {margin: 0 auto;width:1000px;position: relative;}
#container{width: 100%;margin:0px auto;}

header {
    height: auto;
    width: 100%;
    float: left;
    margin: 0px;
}
 #wrapp{
    float: left;
    width: 100%;
    background: #f5f5f5;
 }
.column-block {
    width: 100%;
    margin:10px 0px 20px 0px;
    float: left;
    border:1px solid #dddddd;
    border-radius: 3px;
    background:#fff;
}
.content{
    float:left;
    width: 100%;
    margin: 0px 0 0 0 ;
    position: relative;
    font-size: 14px;
    margin-top:15px;
}
.content p{line-height: 35px;margin-bottom: 20px;}
header#header{
    padding: 0px 0  0px 0;   
    width: 100%;
    background: #FFF;
    float:left;
}
 header#header.header-3{
    border-bottom: 1px solid #e6e9ee;
 }
#header-links{
    width: 100%;
    float: left;
    background: #f6f7fb;
    border-bottom: 1px solid #e6e9ee;
    margin-bottom: 15px;
    padding: 7px 0;
}
#header-links a {
    color:#aab2bd;
    font-size: 12px;
}
.one,.three-fourth{ float:left;position:relative;}
.one { width: 100%; margin-right: 0!important; }

 /*main navigation*/

#main-navigation {
    float: left;
    width: 100%;
    height: auto;
    margin-top: 0px;
}
#main-navigation select { display: none }
#main-navigation select {
    background: #FFF;
    border: 1px solid #eee;
    cursor: pointer;
    padding: 10px 5px;
    color: #676767;
}
ul.main-menu.alternative { float: right }
ul.main-menu.alternative li a { color: #898989 }
.main-menu.alternative > li:hover > a { color: #FFF }
ul.main-menu.alternative li a#current { border: none }
ul.main-menu.alternative li a {
    border-right: none;
    border-left: none;
}
.main-menu,
.main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#current {
    background-color: #ccd0d9;
    border-right: 1px solid #ccd0d9;
}
.main-menu li,
.main-menu ul a { position: relative }
.main-menu > li { float: left }
.main-menu > li.floatr { float: right }
.main-menu li > a { display: block }
.main-menu ul {
    position: absolute;
    display: none;
    width: 180px;
}
.main-menu ul ul {
    top: 0;
    left: 180px;
}
.main-menu li:hover > ul { display: block }
#navigation ul li:first-child { margin-left: -8px }
#navigation ul li ul li:first-child,
#navigation ul li ul li ul li:first-child { margin-left: 0 }
ul.main-menu li a i {
    color: #FFF;
    margin-right: 10px;
}
ul.main-menu  ul li a i { color: #aab3bc }
#current {
    margin-left: 0px;
    padding-left: 20px;
    z-index: 8;
    position: relative;
}
.main-menu a { text-decoration: none }
.main-menu > li > a {
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    padding: 15px 20px 16px 20px;
}
.main-menu > li > a i {
    display: block;
    text-align: center;
    font-size: 22px;
    margin-bottom: 5px;
    margin-left: 5px;
}
.main-menu > li:hover > a {
    background-color: #ccd0d9;
    padding-left: 20px;
    margin: 0 0 0 0px;
}
ul.main-menu li a {
    -webkit-transition: background-color 80ms ease-in-out;
    -moz-transition: background-color 80ms ease-in-out;
    -o-transition: background-color 80ms ease-in-out;
    -ms-transition: background-color 80ms ease-in-out;
    transition: background-color 80ms ease-in-out;
}
.main-menu ul li a {
    -webkit-transition: background-color 20ms ease-in-out, color 20ms ease-in-out;
    -moz-transition: background-color 20ms ease-in-out, color 20ms ease-in-out;
    -o-transition: background-color 20ms ease-in-out, color 20ms ease-in-out;
    -ms-transition: background-color 20ms ease-in-out, color 20ms ease-in-out;
    transition: background-color 20ms ease-in-out, color 20ms ease-in-out;
}
.main-menu  li  a  span {
    display: block;
    color: #ccd0d9;
    width: 100%;
    font-style: italic;
    font-size: 11px;
    line-height: 14px;
}
.main-menu > li > a img,
.main-menu li > ul > li > a img {
    border: 0;
    margin-right: 7px;
}
/* Sub Menu */
.main-menu ul {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-top: none;
    left: 1px;
    z-index: 999;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.04);
    box-shadow: 0 1px 1px rgba(0,0,0,0.04);
}
.main-menu ul a {
    color: #aab2bd;
    font-size: 12px;
    line-height: 18px;
    padding: 9px 12px;
    border-top: 1px solid #e6e6e6;
}
/* Mega Menu */
.main-menu .one-column,
.main-menu .two-columns,
.main-menu .three-columns,
.main-menu .four-columns,
.main-menu .five-columns {
    position: absolute;
    display: none;
    overflow: auto;
    z-index: 999;
    background: #fff;
}
.main-menu .one-column,
.main-menu .one { width: 160px }
.main-menu .two-columns,
.main-menu .two { width: 320px }
.main-menu .three-columns,
.main-menu .three { width: 480px }
.main-menu .four-columns,
.main-menu .four { width: 640px }
.main-menu .five-columns,
.main-menu .five { width: 800px }
.main-menu > li.floatr > ul.one-column,
ul.two-columns,
ul.three-columns,
ul.four-columns,
ul.five-columns { right: 0 }
.main-menu > li:hover > ul.one-column,
ul.two-columns,
ul.three-columns,
ul.four-columns,
ul.five-columns { display: block }
.main-menu .one,
.main-menu .two,
.main-menu .three,
.main-menu .four,
.main-menu .colfive5 { float: left }
.main-menu li > ul.one-column,
ul.two-columns,
ul.three-columns,
ul.four-columns,
ul.five-columns {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    left: -1px;
    padding: 10px;
}
ul.one-column a:hover,
ul.two-columns a:hover,
ul.three-columns a:hover,
ul.four-columns a:hover,
ul.five-columns a:hover {
    background: none;
    border: none;
}
ul.one-column a,
ul.two-columns a,
ul.three-columns a,
ul.four-columns a,
ul.five-columns a {
    background: none;
    border: none;
}
ul.one-column p a,
ul.two-columns p a,
ul.three-columns p a,
ul.four-columns p a,
ul.five-columns p a { padding: 0 }
.main-menu h5 {
    font-size: 13px;
    color: #656d78;
    font-weight: normal;
    margin: 8px 10px 7px 10px;
    font-weight: 600;
    letter-spacing: 0;
}
.main-menu ol {
    list-style: none;
    margin: 7px 10px;
    padding: 0;
}
.main-menu ol li {
    border-bottom: 1px dotted #e0e0e0;
    padding: 4px 0;
}
.main-menu ol a {
    color: #aab2bd;
    font-size: 12px;
    padding: 3px 0;
    line-height: 15px;
}
.main-menu p {
    font-size: 12px;
    line-height: 18px;
    margin: 9px 10px;
    padding: 0;
}
.main-menu p a {
    color: #aab2bd;
    text-decoration: underline;
}
.main-menu p a:hover { color: #555 }
.main-menu ol a i {
    margin-right: 7px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
/*header links and social links*/
.top-search {
    float: right;
    margin-top: 5px;
}
#header-links .top-search {
    float: right;
    margin-top: 0px;
}
.top-search input {
    width: 220px;
    font-size: 11px;
    color: #888;
    border: 1px solid #e6e9ee!important;
}
.top-search input:focus { border: 1px solid #aab3bc!important }
.search-btn {
    float: right;
    position: relative;
    padding: 0;
    top: 0;
    right: 0px;
    margin: 0px 0 0 -40px;
    background: #ccd0d9 url(../images/search-bg.png) center center no-repeat;
    width: 32px;
    height: 32px;
    cursor: pointer;
    border: none;
    z-index: 100;
    box-shadow: none;
    border-radius: 0px 4px 4px 0px;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}
.search-btn:hover { background-color: #aab3bc }
input.search-field {
    float: right;
    position: relative;
}
ul.contact-links { float: left;margin-left:30px;}
ul.margin-top{margin-top: 25px;}
ul.contact-links li {
    float: left;
    margin-left: 10px;
    margin-top: 3px;
}
ul.contact-links li a{ font-size:14px;font-weight: bold;color: #35617B;}
.head-wrapp {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

#header-links a:hover { color: #656d78 }
.input-wrapp {
    float: left;
    width: 100%;
    display: block;
}

 /*--------------------------------------------------------------------------------------*/
 /*                     6 - FOOTER & COPYRIGHTS                                          */
 /*-------------------------------------------------------------------------------------*/

#copyrights {
    width: 100%;
    padding: 30px 0 10px 0;
    float: left;
    position: relative;
    background: #292f38;
    height: auto;
    color: #4d5560;
    font-size: 12px;
    border-top: 1px solid rgba(255,255,255,0.10);
}

#copyrights.s2 {
    background: #333;
    color: #999999;
}
#copyrights.s2 a { color: #ababab }
#copyrights.s2 a:hover {
    color: #FFF;
    text-decoration: none;
}
#copyrights.s3 {
    background: #e6e9ee;
    color: #656d78;
}
#copyrights.s3 a { color: #656d78 }
#copyrights.s3 a:hover {
    color: #929ca9;
    text-decoration: none;
}
#copyrights a {
    -moz-transition: all 0.24s ease 0s;
    -webkit-transition: all 0.24s ease 0s;
    -o-transition: all 0.24s ease 0s;
    color: #4d5560;
}
#copyrights a:hover {
    color: #FFF;
    text-decoration: none;
}

.copyright_links {float: right; }
.copyright_links li {
    display: inline;
    float: left;
}
.copyright_links li a {
    float: left;
    padding: 0px 11px 0px 10px;
   
}
.copyright_links li.last a,
.copyright_links ul li:last-child a { background: none}
.copyright_links li a:hover {text-decoration: underline}

input[type="text"], input[type="password"], input[type="email"], textarea, select {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccd0d9;
    border-radius: 4px;
    color: #aab3bc;
    display: block;
    font-size: 13px;
    margin: 0;
    max-width: 100%;
    outline: medium none;
    padding: 7px 10px;
    transition: all 0.25s ease-out 0s;
}
.pagination {margin:20px 0;}
.pagination ul {
    margin: 20px 0 20px 0;
    float: left;
    position: relative;
    width: 100%;
}
.pagination ul li span{
    padding: 5px 10px;
    display: inline-block;
    float: left;
    border: 1px solid #dddddd;
    border-right: 0px;
}
.pagination ul li a.a1 {
    padding: 5px 10px;
    display: inline-block;
    float: left;
    color: #428bca;
    border: 1px solid #dddddd;
    border-right: 0px;
}
.pagination ul li a.page_last {
    padding: 5px 10px;
    display: inline-block;
    float: left;
    color: #428bca;
    border: 1px solid #dddddd;
}
.pagination ul li a:hover{background: #f8f8f8;}
.pagination ul li:first-child a{  border-radius: 4px 0px 0px 4px;} 
.pagination ul li:last-child a{   border-radius: 0px 4px 4px 0px;}

#scrolltotop {
    width: 48px;
    height: 48px;
    background: url("../images/top.png") top no-repeat;
    margin: 0px 15px 10px 0;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    border-radius: 3px;
}
#scrolltotop:hover { background: url("../images/top.png") bottom no-repeat }

 /*--------------------------------------------------------------------------------------*/
 /*                     20 - BUTTONS                                                    */
 /*-------------------------------------------------------------------------------------*/
.home-intro .button { float: right }
.button {
    font-size: 12px;
    color: #FFF!important;
    font-family: "Roboto", Arial, Verdana;
    text-align: center;
    outline: none;
    text-transform: capitalize!important;
    cursor: pointer;
    position: relative;
    -moz-transition: all 0.24s ease 0s;
    -webkit-transition: all 0.24s ease 0s;
    -o-transition: all 0.24s ease 0s;
}
.button:hover { box-shadow: inset 1px 1px  0px rgba(0,0,0,0.15),inset -1px 0px  0px rgba(0,0,0,0.15) }
.button.color:hover,
.button.grey {
    background: #89929d;
    color: #FFF!important;
    text-decoration: none;
    border-bottom: 1px solid #656d78;
}
.button.simple-grey {
    background: #aab2bd;
    color: #FFF!important;
    text-decoration: none;
    border-bottom: none;
    font-size: 11px;
}
.button.color-alt {
    color: #FFF!important;
    text-decoration: none;
    border-bottom: none;
    font-size: 11px;
}
.button.color-alt:hover {
    background: #434a54!important;
    color: #FFF!important;
}
.button:active,
.grey-button:active,
.colored-button:active { box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35) inset }
.button i.right,
.grey-button i.right,
.colored-button i.right {
    color: #FFF;
    margin-left: 5px;
}
.button i.left,
.grey-button i.left,
.colored-button i.left {
    color: #FFF;
    margin-right: 5px;
}
.button.small,
.grey-button.small,
.colored-button.small { padding: 6px 13px }
.button.big,
.grey-button.big,
.colored-button.big { padding: 11px 17px }
.button.huge,
.grey-button.huge,
.colored-button.huge {
    padding: 12px 22px;
    font-size: 13px;
    text-transform: capitalize;
    color: #FFF!important;
    font-family: "Roboto", Arial, Verdana;
    font-weight: 400;
}
.button.round,
.grey-button.round,
.colored-button.round { border-radius: 4px }
.button.circle,
.grey-button.circle,
.colored-button.circle { border-radius: 100px }


 /*--------------------------------------------------------------------------------------*/
 /* 25 - DROPCAPS, HOME INTRO,SIMPLE LIST, TEAM MEMBER CHART & GOOGLE MAPS               */
 /*-------------------------------------------------------------------------------------*/

.error-layout {
    margin: 80px 0 60px 0;
    text-align: center;
    width: 100%;
    border: 4px solid #ccd0d9;
    padding: 50px 0 40px 0;
    float: left;
    border-radius: 4px;
}
.error-layout h1 {
    font-size: 72px;
    line-height: 75px;
    margin-bottom: 20px;
    color: #656d78;
}
.error-layout h1 i {
    font-size: 72px;
    line-height: 75px;
    margin-bottom: 20px;
    color: #d90e0e;
    margin-right: 30px;
}
.error-layout h3 {
    color: #656d78;
    font-weight: 400;
    font-style: italic;
}
/*article content*/
.article-left{padding:20px 20px 0px 20px;border-right:1px solid #e3e3e3;width:657px;float:left;}
article h2{text-align:center;font-size: 16px;}
article h5{
    border-bottom: 1px dashed #cccccc;
    color: #666;
    font-size: 13px;
    font-weight: normal;
    height: 35px;
    line-height: 35px;
    margin: 12px 0px;
    text-align: center;
}
.article-right{float: right;width:300px;}
.aside-right{padding:10px;}
.top-list li{line-height: 28px;}
