html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, a, abbr, and, address, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, textarea, select { background: transparent; border: 0; font-size: 100%; margin: 0; outline: 0; padding: 0; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }

ol, ul { list-style: none }
table { border-collapse: collapse; border-spacing: 0; }
.clear { clear: both; display: block; height: 0; overflow: hidden; visibility: hidden; width: 0; }
.clearfix:after { clear: both; content: ' '; display: block; font-size: 0; height: 0; line-height: 0; visibility: hidden; width: 0; }
* html .clearfix, :first-child+html .clearfix { zoom: 1 }

body {
    color: #444;
    font: 14px "Microsoft Yahei",Arial,Helvetica,sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}
a, a > * {text-decoration: none;color:#555;}
a:hover{color:#3071a9;text-decoration: none;}
a#logo {float:left;}

header {
    height: auto;
    width: 100%;
    float: left;
    margin: 0px;
}
header#header{
    padding: 0px 0  0px 0;
    width: 100%;
    background: #FFF;
    float:left;
}
header#header.header-3{
    border-bottom: 1px solid #e6e9ee;
}
#header-links{
    width: 100%;
    float: left;
    background: #f6f7fb;
    border-bottom: 1px solid #e6e9ee;
    margin-bottom: 15px;
    padding: 7px 0;
    border-top: 4px solid #169fe6
}
#header-links a {
    color:#aab2bd;
    font-size: 12px;
}
 #wrapp{
    float: left;
    width: 100%;
    background: #f5f5f5;
 }
.container {margin: 0 auto;width:1000px;position: relative;}
#container{width: 100%;margin:0px auto;}
.column-block {
    width: 100%;
    margin:0px 0px 20px 0px;
    float: left;
    border:1px solid #dddddd;
    border-radius: 3px;
    background:#fff;
}
.content{
    float:left;
    width: 100%;
    margin: 0px 0 0 0 ;
    position: relative;
    font-size: 14px;
    margin-top:15px;
}
.content p{line-height: 35px;margin-bottom: 20px;}
.one,.three-fourth{ float:left;position:relative;}
.one { width: 100%; margin-right: 0!important; }
 /*main navigation*/
#main-navigation {
    float: left;
    width: 100%;
    height: auto;
    background: #2076bd;
    margin-top: 0px;
}
.main-menu li,
.main-menu ul a { position: relative }
.main-menu > li { float: left }
.main-menu li > a { display: block }
.main-menu ul {
    position: absolute;
    display: none;
    width: 220px;
}
.main-menu li:hover > ul { display: block;}
#current {
    background-color: #565e75;
    border-right: 1px solid #ccd0d9;
    margin-left: 0px;
    padding-left: 20px;
    z-index: 8;
    position: relative;
}
.main-menu > li > a {
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    padding: 15px 20px 16px 20px;
}
.main-menu > li:hover > a {
    background-color: #565e75;
    padding-left: 20px;
    margin: 0 0 0 0px;
}
/* Sub Menu */
.main-menu ul {
    background-color: #fff;
    left: 1px;
    z-index: 999;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.04);
    box-shadow: 0 1px 1px rgba(0,0,0,0.04);
}
.main-menu ul a {
    font-size: 12px;
    line-height: 18px;
    padding: 9px 12px;
}
.main-menu ul a:hover {color: #2937A9;}
.main-menu .two-columns{ width: 220px }
ul.two-columns{ right: 0 }
ul.two-columns {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    left: -1px;
    padding: 10px;
}
ul.two-columns .one-fourth{float:left;width:70px;}
/*header links and social links*/
.top-search {
    float: right;
    margin-top: 5px;
}
#header-links .top-search {
    float: right;
    margin-top: 0px;
}
.top-search input {
    width: 220px;
    font-size: 11px;
    color: #888;
    border: 1px solid #e6e9ee!important;
}
.top-search input:focus { border: 1px solid #aab3bc!important }
.search-btn {
    float: right;
    position: relative;
    padding: 0;
    top: 0;
    right: 0px;
    margin: 0px 0 0 -40px;
    background: #ccd0d9 url(../images/search-bg.png) center center no-repeat;
    width: 32px;
    height: 32px;
    cursor: pointer;
    border: none;
    z-index: 100;
    box-shadow: none;
    border-radius: 0px 4px 4px 0px;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}
.search-btn:hover { background-color: #aab3bc }
input.search-field {
    float: right;
    position: relative;
}
ul.contact-links { float: left;margin-left:30px;}
ul.margin-top{margin-top: 25px;}
ul.contact-links li {
    float: left;
    margin-left: 10px;
    margin-top: 3px;
}
ul.contact-links li a{font-weight: bold;color:#2397a9;}
ul.contact-links li a.menu_a{font-size:16px;}
.head-wrapp {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

#header-links a:hover { color: #656d78 }
/*footer and copyrights*/
#copyrights {
    width: 100%;
    padding: 30px 0 10px 0;
    float: left;
    position: relative;
    background: #292f38;
    height: auto;
    color: #4d5560;
    font-size: 12px;
    border-top: 1px solid rgba(255,255,255,0.10);
}

#copyrights a {
    -moz-transition: all 0.24s ease 0s;
    -webkit-transition: all 0.24s ease 0s;
    -o-transition: all 0.24s ease 0s;
    color: #4d5560;
}
#copyrights a:hover {
    color: #FFF;
    text-decoration: none;
}

.copyright_links {float: right; }
.copyright_links li {
    display: inline;
    float: left;
}
.copyright_links li a {
    float: left;
    padding: 0px 11px 0px 10px;
   
}
.copyright_links li.last a,
.copyright_links ul li:last-child a { background: none}
.copyright_links li a:hover {text-decoration: underline}

input[type="text"], input[type="password"], input[type="email"], textarea, select {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccd0d9;
    border-radius: 4px;
    color: #aab3bc;
    display: block;
    font-size: 13px;
    margin: 0;
    max-width: 100%;
    outline: medium none;
    padding: 7px 10px;
    transition: all 0.25s ease-out 0s;
}

.pagination ul {
    margin: 20px 0 20px 0;
    float: left;
    position: relative;
    width: 100%;
}
.pagination ul li{
    float:left;
}
.pagination ul li span{
    padding: 5px 10px;
    float: left;
    border: 1px solid #dddddd;
    border-right: 0px;
}
.pagination ul li a.a1 {
    padding: 5px 10px;
    float: left;
    color: #428bca;
    border: 1px solid #dddddd;
    border-right: 0px;
}
.pagination ul li a.page_last {
    padding: 5px 10px;
    float: left;
    color: #428bca;
    border: 1px solid #dddddd;
}
.pagination ul li a:hover{background: #f8f8f8;}
.pagination ul li:first-child a{  border-radius: 4px 0px 0px 4px;} 
.pagination ul li:last-child a{   border-radius: 0px 4px 4px 0px;}

/*start button*/
.button {
    font-size: 12px;
    color: #FFF!important;
    font-family: "Roboto", Arial, Verdana;
    text-align: center;
    outline: none;
    text-transform: capitalize!important;
    cursor: pointer;
    position: relative;
    -moz-transition: all 0.24s ease 0s;
    -webkit-transition: all 0.24s ease 0s;
    -o-transition: all 0.24s ease 0s;
}
.button:hover { box-shadow: inset 1px 1px  0px rgba(0,0,0,0.15),inset -1px 0px  0px rgba(0,0,0,0.15) }
.button.color:hover,
.button.grey {
    background: #89929d;
    color: #FFF!important;
    text-decoration: none;
    border-bottom: 1px solid #656d78;
}
.button.color, .button.grey:hover { background: #169fe6; border-bottom: 1px solid #0084c9;}
.button.small,
.grey-button.small,
.colored-button.small { padding: 6px 13px }
.button.round,
.grey-button.round,
.colored-button.round { border-radius: 4px }
.button.circle,
.grey-button.circle,
.colored-button.circle { border-radius: 100px }
 /*--------------------------------------------------------------------------------------*/
 /* 25 - DROPCAPS, HOME INTRO,SIMPLE LIST, TEAM MEMBER CHART & GOOGLE MAPS               */
 /*-------------------------------------------------------------------------------------*/

.error-layout {
    margin: 80px 0 60px 0;
    text-align: center;
    width: 100%;
    border: 4px solid #ccd0d9;
    padding: 50px 0 40px 0;
    float: left;
    border-radius: 4px;
    background: #fff;
}
.error-layout h1 {
    font-size: 32px;
    line-height: 75px;
    margin-bottom: 20px;
    color: #656d78;
}

.error-layout h3 {font-weight: 400;}
.error-layout h3 a{color: #d33428;}
/*article content*/
.left{float:left;}
.right{float:right;}
.article-left{padding:20px 20px 0px 20px;border-right:1px solid #e3e3e3;width:637px;}
.article-left ul.list li{
    border-bottom: 1px dashed #e0e0e0;
    overflow: hidden;
    padding-bottom: 30px;
    margin-bottom: 10px;
    position: relative;}
.article-left ul.list li h2{font-size: 22px;margin-bottom: 15px;}
.article-left ul.list li p {color: #888;line-height: 28px;}
.article-left ul.list li p a{color:#3071a9;}
.article-left ul.list li span {
    bottom: 10px;
    color: #999;
    position: absolute;
    right: 0;
}
article h2{text-align:center;font-size: 16px;}
article h5{
    border-bottom: 1px dashed #cccccc;
    color: #666;
    font-size: 13px;
    font-weight: normal;
    height: 35px;
    line-height: 35px;
    margin: 12px 0px;
    text-align: center;
}
.article-right{width:320px;}
.box{margin-bottom: 20px;}
.box h3{line-height: 35px;font-size: 14px;border-bottom:2px solid #888;margin-bottom:15px;}
.box h3 span{padding-left:10px;border-left:7px solid #d33428;}
.box ul.rumen-menu li{line-height: 25px;}
.box ul.rumen-menu li ul{margin-left:10px;}
.box ul.rumen-menu li ul li{line-height: 24px;height:30px;}
.box ul.rumen-menu li .span-parent{margin-right:5px;color:#999;}
.box ul.rumen-menu li.cur_cat .span-child{ background-color: #666;
    color: #fff;
    display: block;
    float: left;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    margin-right: 6px;
    margin-top: 5px;
    text-align: center;
    width: 16px;}
.box ul.lanmu li{line-height: 25px;}
/*jiaocheng start*/
.cur_a{color:#d33428;}
.jiaocheng_list_desc{line-height: 30px;margin-top:15px;border:1px dashed #eeeeee;text-indent: 20px;color:#888;padding:5px 10px;}
.jiaocheng_list li{line-height: 30px;}
.jiaocheng_list li span{margin-left: 10px;}
.bg_grap{background: #f8f8f8;}
.red1{color:#d33428;}
.cate_channel{width:300px;float:left;}
.cate_icon{margin-right:10px;}
.aside-right{padding:10px;}
.top-list{background: url("/statics/images/topbg.png") no-repeat scroll -220px -62px #fff;}
.top-list li{   height: 32px;line-height: 32px;margin: 0;overflow: hidden;padding-left: 25px;}
.position{line-height: 35px;}

.f14{line-height:30px;}


/*jiaocheng start*/

/*code start*/
blockquote { margin:15px 0px;font-family: "Consolas" , "Courier New" ,Courier,mono,serif; width: 99%; border:1px solid #e3e3e3;border-radius: 2px;background-color:#f5f5f5;font-size:13px;}
blockquote ol, blockquote ol li, blockquote ol li span { margin: 0; padding: 0; border: none; }
blockquote a, blockquote a:hover { background: none; border: none; padding: 0; margin: 0; }
blockquote ol { list-style: decimal; background-color: #fff; margin: 0px 0px 1px 30px !important; padding: 0px; color: #5C5C5C; }
blockquote ol li { list-style: decimal-leading-zero; list-style-position: outside !important; border-left: 1px solid #aaa; background-color: #fcfcfc; color: #5C5C5C; padding: 0 3px 0 10px !important; margin: 0 !important; line-height: 22px; }
blockquote ol li.alt { color: inherit; }
blockquote ol li.alt span.preprocessor{color:#008200;}
blockquote ol li span { }
blockquote .comment, blockquote .comments { color: #008200; background-color: inherit; }
blockquote .string { color: blue; background-color: inherit; }
blockquote .keyword { color: #069; font-weight: bold; background-color: inherit; }
blockquote .blockquoteprocessor { color: gray; background-color: inherit; }
blockquote .dp-xml .cdata { color: #ff1493; }
blockquote .dp-xml .tag, blockquote .dp-xml .tag-name { color: #069; font-weight: bold; }
blockquote .dp-xml .attribute { color: red; }
blockquote .dp-xml .attribute-value { color: blue; }
blockquote .dp-sql .func { color: #ff1493; }
blockquote .dp-sql .op { color: #808080; }
blockquote .dp-rb .symbol { color: #a70; }
blockquote .dp-rb .variable { color: #a70; font-weight: bold; }
blockquote .dp-py .builtins { color: #ff1493; }
blockquote .dp-py .magicmethods { color: #808080; }
blockquote .dp-py .exceptions { color: brown; }
blockquote .dp-py .types { color: brown; font-style: italic; }
blockquote .dp-py .commonlibs { color: #8A2BE2; font-style: italic; }
blockquote .dp-j .annotation { color: #646464; }
blockquote .dp-j .number { color: #C00000; }
blockquote .dp-delphi .number { color: blue; }
blockquote .dp-delphi .directive { color: #008284; }
blockquote .dp-delphi .vars { color: #000; }
blockquote .dp-css .value { color: black; }
blockquote .dp-css .important { color: red; }
blockquote .dp-c .vars { color: #d00; }
blockquote .dp-cpp .datatypes { color: #2E8B57; font-weight: bold; }

blockquote .comment{border:none;padding:0}
blockquote ol,
blockquote ol li{list-style:decimal;}